


.CLE_KEYEDLIST     > li ,  
.CLE_UNORDEREDLIST > li ,  
#----e {
   display: list-item !important ;     
   opacity: 1 ;  
   max-height: 20em ; 
} 
.CLE_KEYEDLIST     > li[hidden] ,  
.CLE_UNORDEREDLIST > li[hidden] ,  
#----e  {
   display: list-item !important ;   
   opacity: 0.25 ;
   max-height: 0 ; 
}









.CLE_KEYEDLIST > li {
   transition: all 0.5s ease-out ;
}


