




  
.SLPCM-M-NONPAST ,  
.SLPCM-M-PAST , 
#----e {
    overflow-y: auto;
    max-height: 4em ;
    overflow-x: auto;  

    transition: all 0.5s ease-out ;
}







  
       
.SLPCM-M-NONPAST {
    opacity: 0.25 !important    ;    
}             
.SLPCM-M-PAST      ,    
.SLPCM-M-NONPAST:hover ,     
.SLPCM-M-NONPAST:focus-within ,   
#----e 
{  
    opacity: 1 !important ;
}               