










a[href],
a.button,    
button, 
input[type=button],
input[type=file]::-webkit-file-upload-button,
#----e {
    cursor: pointer;                   
}
a:disabled ,
a.button:disabled , 
button:disabled,      
input[type=button]:disabled ,
input:disabled ,
select:disabled ,
*:disabled ,
#----e { 
    filter: contrast(0.1) saturate(0.1) brightness(1.8) ;
    cursor: default !important;    
    pointer-events: none;
}



a.button { 
}



a { 
   background: transparent;  
   padding: 0.25em;
   margin: -0.25em;
}  
a.button,    
button, 
input[type=button],
input[type=file]::-webkit-file-upload-button ,
#----e { 
   background: rgb(192, 128, 64 );  
   color: white; 
   padding: 0.35em;
   margin: 0.15em ; 
   text-shadow: 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black , 
   0 0 0.95em black 
   ;
}                 
input[type=file] {
   background: black ;
   color: rgb(128, 128, 160 ) ;
}
/* border-styling */
a[href] {      
   /*  
     these elements by default override these properties .   
     override again to enforce 'ingerit' 
   */
   color: inherit;
}         
a { 
   border: 0.05em dotted transparent ;
   border-block-end-width: 0.25em ;
   border-radius: 0.1em ;      
}  
a.button, 
button, 
input[type=button],
#----e {
   border: 0.05em solid transparent ;
   border-block-end-width: 0.25em ;
   border-radius: 0.375em ;      
}
a.button { 
   border-top-style: solid; 
   border-block-start-style: solid; 
}                     
input[type=file]::-webkit-file-upload-button {
   border-radius: 0.25em ;
}
a, button {
   --BC: transparent ;
}  
a {
   border-top-color: var(--BC) !important; 
}
button {
   border-color:  var(--BC) !important ;  
}
button {
   --BC: rgb(64, 32, 0 ) rgba(153,  92, 51, 0.5 ) ;
}  
a.button:disabled , 
button:disabled,       
input[type=button]:disabled ,
#----e { 
   --BC: transparent !important ;                  
}    
a:hover,              
a:focus-within ,       
button:hover, 
button:focus-within , 
#---e {
   /* border-top-color: beige !important ;      */
   --BC: beige ;              
}     
input[type=file]::-webkit-file-upload-button {
   filter: brightness(0.3) ;
}



a.button,    
button, 
input[type=button],
#----e {  
    position: relative;     
    box-sizing: content-box; 
}    
a::after, a::before,
#---e { 
    content: " ";
    display: inline-block;
    width: 0.5em ;
}
a[href] {
   --MHOVERED-COLOR : rgb(0, 192, 255 ) ;
}
a.button , 
button , 
input[type=file]::-webkit-file-upload-button,
input[type=file],
#----e { 
   --MHOVERED-COLOR : /* red */ rgb(255, 64, 128 ) ;
}
a[href]:hover, 
a[href]:focus-within , 
#---e { 
   text-decoration-color: transparent;
   background: white;
   color: black;
   animation: 0.5s infinite normal both MHOVERED ;
}
a.button:hover ,
a.button:focus-within ,
button:hover ,
button:focus-within ,
#---e { 
   background: rgb(255, 255, 128 );
   color: black;
   animation: 0.5s infinite normal both MHOVERED ;
   font-size: 125% ;
   padding: 0.5em ;
   margin: -0.5em ;
   text-shadow: none ;
} /* */
input[type=file]:hover ,
input[type=file]:focus-within ,
#---e { 
   background: rgb(0, 192, 255 );
   color: black;
   animation: 0.5s infinite normal both MHOVERED ;
} /* */
input[type=file]:hover::-webkit-file-upload-button ,
input[type=file]:focus-within::-webkit-file-upload-button ,
#---e { 
   background: black ;
   color: white; 
} /* */
@keyframes MHOVERED {
   from { 
      color: darkgray ;
   }
   20% { 
      color: darkgray ;
   }
   25% { 
      color: black ;
   }
   30% { 
      color: var(--MHOVERED-COLOR ) ;
   }
   40% { 
      color: var(--MHOVERED-COLOR ) ;
   }
   50% {
      color: darkgray ;
   }
   to {
      color: darkgray ;
   }
}
a.button::before ,    
button::before , 
input[type=button]::before,
#----e {  
   content: var(--AC-LABEL ) ;
   display: inline-block;
   font-style: oblique ;
   background: black;
   color: var(--MHOVERED-COLOR );
   font-size: 75% ;
   border-radius: 0.25em ;
   padding: 0.25em ;
   margin-inline-start: 0.5em ;
   margin-inline-end: 0.5em ;
   animation: all 0.5s ease-out;
}    
a.button ,
button ,
input[type=button] ,
#----e {
   --AC-LABEL: "[action]" ;
} 
a.button[type=submit] ,
button[type=submit] ,
input[type=submit ] ,
#-----e { 
   --AC-LABEL: "[" attr(type ) "]" ;
} 
a.button[role] ,
button[role] ,
input[type=button][role ] ,
#-----e { 
   --AC-LABEL: "[" attr(role) "]" ;
} 
a[href]::after {
   width: unset ;
   content: "[page]";
   font-style: oblique ;
   background: black;
   color: var(--MHOVERED-COLOR );
   font-size: 75% ;
   border-radius: 0.25em ;
   padding: 0.25em ;
   margin-inline-start: 0.5em ;
   margin-inline-end: 0.5em ;
   animation: all 0.5s ease-out;
} 
a[href]:not(:hover) ,
a.button:not(:hover) ,
button:not(:hover) ,
#----e {
   animation-iteration-count: 2 ;
}
a[href]:hover::after ,
a[href]:focus-within::after ,
button:hover::before ,
button:focus-within::before ,
#---e {
   color: black;
   background: var(--MHOVERED-COLOR );
} 





