









section, aside {
   display: block;
   position: relative;
   border-style: solid;
   padding: 0.5em;
   margin-inline-start: -0.5em ;
   margin-inline-end: -0.5em ;
}
aside {
}
aside::before {
   position: absolute;
   content: " ";
   pointer-events: none;
   top: 0 ;
   left: 0 ;
   right: 0 ;
   bottom: 0 ;
   backdrop-filter: 
      saturate(var(--ASIDE-COVERCOLOR ) ) 
      brightness(var(--ASIDE-COVERBRIGH ) ) 
      blur(var(--ASIDE-COVERBLURR ) ) 
   ;
   z-index: 3 ;
}
aside { 
   background: rgba(0, 0, 0, 0.25 );
   --ASIDE-COVERBLURR : 0.05em ;
   --ASIDE-COVERBRIGH : 0.7 ;
   --ASIDE-COVERCOLOR : 0.08 ;
}
aside:focus-within,
aside:hover {
   --ASIDE-COVERBLURR : 0 ;
   --ASIDE-COVERBRIGH : 1.0 ;
   --ASIDE-COVERCOLOR : 1.0 ;
}
aside:hover { 
}





nav {
}