







ul, ol {
   padding-inline-start: 1em ;
   zoom: 95% ;
   border-inline-start: 0.05em dotted currentColor ;
}
.navbar {
   display: flex ;
   flex-direction: row ;
   background: black;
   color: white;
}
ul.navbar {
   list-style-type: none ;
   padding-inline-start: 0 ;
}
* > li::marker {
   /* */
   opacity: 0.5 ;
   text-align: end ;
}
* > li {
   border: 0.05em solid transparent ;
   margin-block-start: 0.5em ;
   margin-block-end: 0.5em ;
}
* > li > * {
   display: block;
}
ul {
   list-style-type: circle;
}
ul > li::marker {
   /* */ 
}
ul > li {
}







