
@import "./codeElementsCss.css" ;
@import "./fontsForStdElements.css" ;
@import "./userSelectability.css" ;





/* FONTS AND COLOURS  */
/*   
  (re) define the 'padding'
*/
/*        
  the white-space handling
*/
/* _ */
input[type=number] {
    text-align: end ;
}       
/* 
 'cursor', 'filter'
*/
a.button,    
button, 
input[type=button],
#----e {
    cursor: pointer;                   
}
a.button:disabled , 
button:disabled,      
input[type=button]:disabled ,
#----e { 
    filter: contrast(0.1) brightness(1.8) ;
    cursor: default !important;    
}
/*  
  ??? 
*/
a.button { 
}
/* */
/*  
  define the 'color's and border-colours and (in the future) border-width .     
  note that, for border-style,     
  the right place will be in the 'DISPLAYS, LAYOUTS, POSITIONS' below
*/
aside {
    background: rgba(0, 0, 0, 0.5 );
}
a, button {
    --BC: transparent ;
}  
a {
    border-top-color: var(--BC) !important; 
}
button {
    border-color:  var(--BC) !important ;  
}
a.button:disabled , 
button:disabled,       
input[type=button]:disabled ,
#----e { 
    --BC: transparent !important ;                  
}    
a:hover,              
a:focus-within ,       
button:hover, 
button:focus-within , 
#---e {
    /* border-top-color: beige !important ;      */
    --BC: beige ;              
}     
a[href] {      
    /*  
      these elements by default override these properties .   
      override again to enforce 'ingerit' 
    */
    color: inherit;
}         
a { 
    border: 0.05em dotted transparent ;
    border-block-end-width: 0.25em ;
    border-radius: 0.1em ;      
}  
a.button, 
button, 
input[type=button],
#----e {
    border: 0.05em solid transparent ;
    border-block-end-width: 0.25em ;
    border-radius: 0.1em ;      
}
a.button { 
    border-top-style: solid; 
    border-block-start-style: solid; 
}                     
thead:hover {               
    background-color: transparent;    
    color: white;                     
}       
a { 
    background: transparent;  
    padding: 0.35em;
}  
a.button,    
button, 
input[type=button],
#----e { 
    background: gray;  
    color: white; 
    padding: 0.35em;
    margin: 0 ; 
}                 
/* 
  the 'selection'      
*/
::selection {
    cursor: nesw-resize !important ; 
    background: rgb(0, 128, 255) !important; 
    color: white !important ;
}  
  
          
    



  

/*  
 *  DISPLAYS, POSITIONS, BORDER-STYLE(S)   .  
 *  these properties are better grouped together   
*/    
nav {
    border-style: solid;
}
input[type=number] {
    width: 6em ;
}       
a.button,    
button, 
input[type=button],
#----e {  
    position: relative;     
    box-sizing: content-box; 
    text-decoration: none ;
}    
a::after, a::before,
#---e { 
    content: " ";
    display: inline-block;
    width: 0.5em ;
}
a:hover, 
a:focus-within , 
#---e { 
}
tr::before {
    content: "◾";
    width: 1em;
    display: inline-block;
}    
td { 
    padding: 0.25em 0.75em 0.5em 0 ;
}  
td { 
    border: 0.05em solid currentcolor ; 
    vertical-align: text-top ;
    min-width: 1.5em ;
} 
table { border-collapse: collapse ; } 
thead {
    position: sticky ;    
    top: 0 ;     
    backdrop-filter: blur(0.05em) ;       
    /* pointer-events: none;       */    
    backdrop-filter: blur(0.35em) ;                     
    opacity: 1.0 ; 
}
thead:hover {
    position: relative ;                   
    opacity: 0.5 ;
}       
thead > tr > td {
    position: sticky;
    left: 0 ;
    right: 0 ;
    backdrop-filter: blur(0.35em) ;     
}
video, image {
    width: calc(min(50vw, 50vh ) );
    height: calc(min(50vw, 50vh ) ) ;
    background: black;
}
*::-webkit-scrollbar-thumb {
    border: 0.05em solid white;
} 




@media screenp {
    *::-webkit-scrollbar {
        opacity: 0.5 ;
        width : 0.875em ;
        height: 0.875em ;   
        background-color: rgba(128, 128, 128, 0.5) ;
        cursor: ew-resize;
    }
    *::-webkit-scrollbar:hover {      
        opacity: 1  ;    
        width : 1.5em ;
        height: 1.5em ;   
        background-color: rgb(235, 235, 235) ;      
    }
    *::-webkit-scrollbar-thumb {
        background-color: currentColor;
        opacity: 0.5 ;
        transition: all 0.2s ease-out ;
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: white ;      
        opacity: 1 ;
    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }
}








*, 
h1,h2,h3,h4,h5,h6, p, blockquote, pre, code ,
#----e {
    transition: all 0.25s ease-out ;  
}
body {
    margin: 0 ;
}
