
@import "./buttonElementsCss.css" ;
@import "./cListElementsCss.css";
@import "./cAsideAndNavElementsCss.css" ;
@import "./cTableElementsCss.css" ;
@import "./codeElementsCss.css" ;
@import "./fontsForStdElements.css" ;
@import "./userSelectability.css" ;












/* FONTS AND COLOURS  */
/*   
  (re) define the 'padding'
*/
/*        
  the white-space handling
*/
/* 
 'cursor', 'filter'
*/
/*  
  ??? 
*/
/* */
/*  
  define the 'color's and border-colours and (in the future) border-width .     
  note that, for border-style,     
  the right place will be in the 'DISPLAYS, LAYOUTS, POSITIONS' below
*/
/* 
  the 'selection'      
*/
@keyframes SSB {
    from {
        background: rgb(0, 128, 255)  ; 
    }
    to {
        background: rgb(0, 240, 255)  ; 
    }
}
::selection {
    cursor: nesw-resize !important ; 
    background: rgb(0, 128, 255) ; 
    color: white !important ;
    border: 0.1em solid white !important ;
    animation: 2s infinite alternate running SSB ;
}  
  
          
    



  

/*  
 *  DISPLAYS, POSITIONS, BORDER-STYLE(S)   .  
 *  these properties are better grouped together   
*/    
:root {
    position: relative;
    overflow-x: hidden;
    
    margin: 0 ;
    padding: 0 ;

    background: rgb(0, 0, 64 ) ;
}
:root::before {
    content: " ";
    z-index: -1 ;
    position: fixed;
    left: 0 ;
    top: 0 ;
    width: 100vw ;
    height: 100vh ;

    background: black ;
    background: /* 100vw/100vh url( */ linear-gradient(180deg, rgb(0, 0, 64 ), rgb(64, 0, 192 ) ) ;
}
#root {
    background: rgba(255, 255, 255, 1 ) ;
    backdrop-filter: blur(0.5em ) ;
    color: black ;
    margin: 0 ;
    padding-inline-end: 0 ;
    box-sizing: content-box ;
    max-width: 98vw;
    min-height: 150vh ;

}  
/* here was a 'p' rule */
p:hover, 
p:focus-within, 
blockquote:hover, 
blockquote:focus-within, 
pre:hover, 
pre:focus-within, 
#----e {
    color: rgb(0, 128, 255 ) ;
}
input[type=number] {
    width: 6em ;
}       
video, image {
    width: calc(min(50vw, 50vh ) );
    height: calc(min(50vw, 50vh ) ) ;
    background: black;
}
*::-webkit-scrollbar-thumb {
    border: 0.05em solid white;
} 




@media screenp {
    *::-webkit-scrollbar {
        opacity: 0.5 ;
        width : 0.875em ;
        height: 0.875em ;   
        background-color: rgba(128, 128, 128, 0.5) ;
        cursor: ew-resize;
    }
    *::-webkit-scrollbar:hover {      
        opacity: 1  ;    
        width : 1.5em ;
        height: 1.5em ;   
        background-color: rgb(235, 235, 235) ;      
    }
    *::-webkit-scrollbar-thumb {
        background-color: currentColor;
        opacity: 0.5 ;
        transition: all 0.2s ease-out ;
    }
    *::-webkit-scrollbar-thumb:hover {
        background-color: white ;      
        opacity: 1 ;
    }
    *::-webkit-scrollbar-track {
        background-color: transparent;
    }
}








*, 
h1,h2,h3,h4,h5,h6, p, blockquote, pre, code ,
#----e {
    transition: all 0.25s ease-out ;  
}
body {
    margin: 0 ;
}
